// estilos para celulares 
@media screen and (max-width: 480px){
    
    body{
        margin: 0;
        width: 100%;
    }
    //Pantalla principal
    //----------
    header{
        width: 100%;
        background: rgba(0,0,0,.7);
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;      
}
    .logo{
        width: 75%;
    }
    .btn-principal{
        text-decoration: none;
        font-size: 1.5rem;
        padding: 5px 50px;
        border: 2px solid #f4f4f4;
        border-radius: 25px;
        background: rgba(0,0,0,.5);
        &:active{
            transform: scale(1.5);
            transition: 500ms;
        }
    }
    //--------------------------------
    //Signup-Login
    main{
        width: 100%;
        height: 100vh;
        padding-top: 80px;
    }
    .main_Title{
        margin-bottom: 50px;
        color: #ff0;
    }

    .box_Back{
        max-width: 300px;
        height: 400px;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .box_Back div{
        left: 10;
        position: absolute;
    }

    
    .login_Form, .signup_Form {
        display: none;
        position: relative;
    }
}